body, html {
    background: #000;
}

div.header > .title {
    line-height: 25px;
    display:inline;
    vertical-align: bottom;
}

div.header {
    border:solid 1px #313131;
    border-top: solid 1px #575757;
    border-bottom: solid 2px #282828;
    border-radius: 0;
   
    padding: 10px;
    
    margin: 0;
    margin-bottom: 15px;
   
    background-color: #424242;
    color: #ccc;
}

div.header > span, div.header > nav {
    vertical-align: text-bottom;
    padding: 0;
}

nav {
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0;
    border-radius: 0;
}

nav > a {
    color: #ccc;
}

nav > a:hover {
    color: #999;
    text-decoration: none;
}

.panel-default {
    border: solid 0 #313131;
    border-radius: 0;
}

.panel-default > .panel-heading {
    background: #414141;
    border: solid 0 #313131;
    border-radius: 0;
    color: #ccc;
}

.panel-body {
    background: #000;
    border: solid 0 #313131;
    border-radius: 0;
    color: #999;
}

.xl {
    font-size:36pt;
}

.lg {
    font-size:26pt;
}

.md {
    font-size:18pt;
}

.space {
    height:100px;
}

div, p, a, h1, h2, h3, h4, h5, h6, span, button {
    transition: 
        width 0.5s, 
        height 0.5s,
        margin 0.5s,
        padding 0.5s,
        left 0.5s,
        top 0.5s,
        right 0.5s,
        bottom 0.5s,
        color 0.5s,
        background-color 0.5s
    ;
}


.btn-inverse {
    border-radius:0;
    cursor: pointer;
    background-color: #313131;
    color: #999;
}

.btn-inverse:hover {
    border-radius:0;
    cursor: pointer;
    background-color: #414141;
    color: #fff;
}